 <!-- Breadcrumb Section Begin -->
 <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center p-5">
                <div class="breadcrumb__text">
                    <h2>Hardware’s Shoping Cart</h2>
                    <div class="breadcrumb__option">
                        <a href="/index">Home</a>
                        <a href="/index">Hardware</a>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->