
<div class="container" style="height: 50vh; display: flex; justify-content: center; align-items: center;">
    <div style="width: 100%; max-width: 400px;">
        <h2 class="text-center mb-4">Login</h2>
        <div style="border: 1px solid #ddd; padding: 30px; border-radius: 8px; background-color: #f9f9f9;">
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" name="username" id="username" required>
                </div><br>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" id="password" required>
                </div><br>
                <button type="submit" class="btn btn-primary btn-block mx-auto" style="width: 30%;">Login</button>
            </form>
        </div>
    </div>
</div>

